@import "variables";
@font-face {
    font-family: Share;
    src: local("Share"), url("../Font/Share-Regular.ttf");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body, html {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    min-height: 100vh;
    font-family: Share, sans-serif;
    line-height: $content-line-height;
}

h1, h2, h3 {
    font-size: $headline-font-size;
    line-height: initial;
}

.menu-container {
    background: $dark-grey;
    flex: 1;
    min-width: 260px;
    max-width: 380px;
    padding-bottom: $spacer;
    position: relative;
    color: $white;

    .logo {
        text-align: center;
        display: block;

        span {
            display: inline-block;
        }
    }

    ul, li {
        list-style: none;
        padding: 0;
        margin: 0;
        display: grid;
    }

    a {
        color: $white;
        font-size: $content-font-size;
        text-decoration: none;
        padding: .4rem 1rem;
    }
}

.content {
    font-size: $content-font-size;
    flex: 4;
    margin: 0 4rem;
    position: relative;
}

.made-with {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: $font-size-small;
}

// Sometimes it's handy to have custom styles
// for development only (npm run build:development)
//
// @if $mode == "development" {
//   // Development only styles
// }
